@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

.container{
    max-width: 2080px;
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 0px 50px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style-type: none;
    margin-right: 20px;
}

header nav ul li a{
    text-transform: uppercase;
    color: #777777;
}

header a img{
    width: 70%;
}

.banner,.banner img{
    width: 100%;
}

.style{
    margin-top: 50px;
    text-align: center;
}

.style h2{
    font-size: 3rem;
    color: #000000;
}

.style .images{
    margin-top: 50px;
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.img-left{
    width: 25%;
}

.img-right{
    width: 40%;
} 

.sale-products{
    margin-top: 100px;
    background-color: #C2185B;
    text-align: center;
    padding: 50px;
}

.sale-products h3{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2rem;
}

.products{
    margin-top:50px;
    display: flex;
    justify-content: space-around;
}

.products article{
    background-color: #ffffff;
}

.product-info{
    text-align: start;
    margin-left: 10px;
    padding: 20px 0;
}

.product-info p{
    font-size: 0.9rem;
    text-transform: uppercase;
}

.description{    
    font-weight: 700;
}

.emphasis{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
    padding: 65px;
} 

.emphasis div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.left-content div img {
    margin-top: 50px;
}

.left-content h3 {
    font-size: 39px;
    text-transform: uppercase;
}

.left-content button{
    border: none;
    width: 55%;
    padding: 20px;
    background-color: #C2185B;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

footer{
    background-color: #C2185B;
    color: white;

    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    align-items: flex-start;
    gap: 50px;

    margin-top: 90px !important;
}

footer h4 {
    font-size: 20px;
    margin-top: 50px;

}

footer ul a {
    color: white;
}
 
.footer-logo {
    width: 20%;
    line-height: 27px;
} 

.categories {
    text-transform: lowercase;
    line-height: 27px;
}

.institutional {
    text-transform: lowercase;
    line-height: 27px;
}




/* PÁGINA TRABALHE-CONOSCO */

form h1{
    color: #575757;
    text-align: center;
}

form label{
    font-weight: bold;
    color:  #9B9B9B;
}

.header-form{
    box-shadow: 0px 5px 5px 0px #cccccc;
}

.trabalhe-conosco{
    color: #9B9B9B;
    width: 50%;
    margin: 60px auto;
    padding: 30px;
    border: 1px solid #9B9B9B;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.trabalhe-conosco button {
    width: 100%;
    border: none;

    background-color: #C2185B;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
} 

.input-group label, span, .radio-wrapper label, .checkbox-wrapper label{
    font-weight: bold;
}

.input-group input{
    border: 1px solid #9B9B9B;
    height: 26px;
    padding: 10px;
}

.input-group select {
    border: 1px solid #9B9B9B;
    height: 26px;
    padding: 5px;

    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='6' viewBox='0 0 14 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 6L13.0622 0.75H0.937822L7 6Z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
}

.checkbox-group, .radio-group {
    width: 100%;
}

.checkbox-group span, .radio-group span {
    display: block;
    margin-bottom: 3px;
}

.checkbox-group label, .radio-group label {
    font-weight: normal;
    margin-right: 16px;
}

.textarea-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textarea-group textarea{
    border: 1px solid #9B9B9B;
    min-height: 100px;
    max-height: 100px;
    resize: vertical;
    padding: 5px;
}

.file-group{
    width: 100%;
}

.file-group input[type="file"]::-webkit-file-upload-button {
    appearance: none;
    background-color: #C4C4C4;
    color: white;
    border: none;
    padding: 10px;
}
